{%extends "base.html"%}
<!DOCTYPE html>
{%load static%}

  {%block head_block%}
    <link rel="stylesheet" href="{%static "home.css"%}">
    <link rel="stylesheet" href="{%static "base.css"%}">
    <link href="https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap" rel="stylesheet">
    <title>Home</title>
  {%endblock%}

  {%block body_block%}
  <!-- Alert -->
  <div class="alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <strong>Notice - </strong> Due to COVID-19, Route India is temporarily inactive.<br>
    Stay tuned to our instagram page for updates.
  </div>

  <!-- home header -->
  <div class="headers">
        <div class="header main" style="background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)), url({% static 'r_collage.webp' %});">
          <div class="hero-text">
            <h1>Be a ROUTE for a  better <span class="region">village!</span></h1>
          </div>
        </div>
        <div class="header who" style="background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)), url({% static 'r_team.webp' %});">
          <div class="hero-text questions">
            <h1 id="who">Who are we?</h1>
          </div>
          <h2>
            We are a student run, environmentally oriented, international NGO based in Jaipur, India.
          </h2>
        </div>

          <div class="header" style="background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url({% static 'ent.webp' %});">
            <div class="hero-text questions">
                <h1>What do we do?</h1>
            </div>
            <h2>Well, we solve the problems:</h2>
            <br>
            <div class="facts">
              <div>
                <h1><span class="num1">24</span> million</h1>
                <p>tonnes of waste is <br>left uncollected in<br> India every year</p>
              </div>
              <div>
                <h1><span class="num2">1000</span></h1>
                <p>children die in India every day from pollution induced diseases</p>
              </div>
              <div>
                <h1>><span class="num3">100</span></h1>
                <p>animals die each year in Jaipur alone due to garbage consumption</p>
              </div>
            </div>
          </div>

        <div class="header why" style="background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.1)),url({% static 'earth_header.jpg' %});">
          <div class="hero-text questions">
            <h1>Why do we do?</h1>
          </div>
          <h2>
            Because like you, we love the Earth. We want to make the Earth, Earth again!
          </h2>
        </div>
        {%block script_block%}
        <script type="text/javascript">
          (function() {

              var region = $(".region");
              var region_arr=['village!',' town!','India!','world!']
              var quoteIndex = 0;
              function showNext() {
                  quoteIndex=quoteIndex+1
                  function print() {
                    region.html(region_arr[quoteIndex])
                  }
                  if (quoteIndex==4){quoteIndex=0}
                  region.fadeOut(1700,print);
                  region.fadeIn(1700,showNext)
              }
              showNext();
          })();

        </script>
        {%endblock%}
  {%endblock%}
