<!DOCTYPE html>
<html lang="en"><head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Insaaniyat</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="static/vendor/owl.carousel/assetsowl.carousel.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/css/style.css" rel="stylesheet">
  <style>
    #hero .btn-get-started, .cta,.contact .php-email-form button[type="submit"] {
      background: #ff180c !important;
      box-shadow: 0 8px 28px rgba(223, 22, 22, 0.45) !important;
    }
    .featured-services .icon i, .about .content ul i, .counts .counters span,
     .services .icon-box .icon i,.contact .info i,.services .icon-box:hover h4 a {
      color: #df1616 !important;
    }
    .contact .info .email:hover i, .contact .info .address:hover i, .contact .info .phone:hover i{
      background: #ff180c !important;
      color: white !important;
    }
    .back-to-top i,.contact .php-email-form button[type="submit"]{
      background: #ff180c;
    }
    #footer .footer-top .social-links a{
      background: #ff180c !important;
      color: white !important;
    }
    .contact .info, .contact .php-email-form {
    border-top: 3px solid#ff180c !important;
    border-bottom: 3px solid#ff180c !important;
    }
  </style>
</head>

<body data-new-gr-c-s-check-loaded="8.867.0"><button type="button" class="mobile-nav-toggle d-lg-none"><i class="icofont-navigation-menu"></i></button>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="index.html">Insaaniyat</a></h1>
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="index.html#home">Home</a></li>
         
          <li><a href="team.html">About</a></li>
          <li><a href="index.html#contact">Contact us</a></li>
          <li class="drop-down"><a href="">Register Now</a>
            <ul>
                <li><a href="donor_form.html">Register as Donor</a></li>
                <li><a href="recipient_form.html">Register as Recipient</a></li>
            </ul>
          </li>



        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container" id="">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>Helping humans in the name of humanity</h1>

<!--          <div class="d-flex">-->
<!--            <a href="#cta" class="btn-get-started scrollto">Get Started</a>-->
<!--         </div>-->
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img src="static/antibody plasma final.jpg" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">


    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col-lg-6">
            <img src="static/about.png" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content">
            <h3>Your blood contains Convalescent Plasma, which can serve as the elixir of life</h3>
            <p class="font-italic">
             If you fought the infection, your plasma now contains COVID-19 antibodies. These antibodies provided one way for your immune system to fight the virus when you were sick, so your plasma may be able to be used to help others fight off the disease.
            </p>
            <p>You are eligible to donate blood for covid patients if: </p>
            <ul>
              <li><i class="icofont-check-circled"></i> You have a test confirming that you have Covid in the past 90 days</li>
              <li><i class="icofont-check-circled"></i> You have been symptom free for atleast 14 days</li>
              <li><i class="icofont-check-circled"></i> You don't suffer from any severe pre-existing medical condition</li>
              <li><i class="icofont-check-circled"></i> You are atleast 18 years old</li>
            </ul>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <!-- <section id="counts" class="counts">
      <div class="container">

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">50</span>
            <p>Number</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">100</span>
            <p>Number</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">150</span>
            <p>Number</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">200</span>
            <p>Number</p>
          </div>

        </div>

      </div>
    </section>End Counts Section -->

    <!-- ======= Services Section ======= -->
<!--    <section id="services" class="services section-bg">-->
<!--      <div class="container">-->

<!--        <div class="section-title">-->
<!--        -->
<!--          <h2>Services</h2>-->
<!--          <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>-->
<!--        </div>-->

<!--        <div class="row">-->
<!--          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">-->
<!--            <div class="icon-box">-->
<!--              <div class="icon"><i class="bx bxl-dribbble"></i></div>-->
<!--              <h4><a href="">Lorem Ipsum</a></h4>-->
<!--              <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">-->
<!--            <div class="icon-box">-->
<!--              <div class="icon"><i class="bx bx-file"></i></div>-->
<!--              <h4><a href="">Sed ut perspiciatis</a></h4>-->
<!--              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">-->
<!--            <div class="icon-box">-->
<!--              <div class="icon"><i class="bx bx-tachometer"></i></div>-->
<!--              <h4><a href="">Magni Dolores</a></h4>-->
<!--              <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>-->
<!--            </div>-->
<!--          </div>-->



<!--        </div>-->

<!--      </div>-->
<!--    </section>&lt;!&ndash; End Services Section &ndash;&gt;-->

    <!-- ======= Testimonials Section ======= -->
    <!-- <section id="testimonials" class="testimonials section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Testimonials</h2>
          <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
        </div>

        <div class="testimonial-item">
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
          <img src="static/index.png" class="testimonial-img" alt="">
          <h3>Person 1</h3>
          <h4>Position 1</h4>
        </div>

        <div class="testimonial-item">
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
          <img src="static/index.png" class="testimonial-img" alt="">
          <h3>Person 2</h3>
          <h4>Position 2</h4>
        </div>

        <div class="testimonial-item">
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
          <img src="static/index.png" class="testimonial-img" alt="">
          <h3>Person 3</h3>
          <h4>Position 3</h4>
        </div>

        <div class="testimonial-item">
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
          <img src="static/index.png" class="testimonial-img" alt="">
          <h3>Person 4</h3>
          <h4>Position 4</h4>
        </div>

        <div class="testimonial-item">
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
          <img src="static/index.png" class="testimonial-img" alt="">
          <h3>Person 5</h3>
          <h4>Position 5</h4>
        </div>

      </div>
    </section>End Testimonials Section -->

    <!-- ======= Cta Section ======= -->
    <!-- <section id="cta" class="cta">
      <div class="container">

        <div class="text-center">
          <h3>Call To Action</h3>
          <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <a class="cta-btn" href="donor_form">Donate!</a>
          <a class="cta-btn" href="recipient_form">Receive!</a>
        </div>

      </div>
    </section><! End Cta Section --> 

    <!-- ======= Team Section ======= -->
    <!-- <section id="team" class="team section-bg">
      <div class="container">

        <div class="section-title">

          <h2>Team</h2>
          <p>Meet the team</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="static/ishaan.jpg" alt="">
              <h4>Ishaan Chaturvedi</h4>
              <span>Founder, CEO</span>
              <p>
                An avid MUN-ER with a keen interest in the world of STEM and especially robotics, Ishaan doesn't believe in narrowing down the scope of his interests. A 12th grader at the Jayshree Periwal International school in Jaipur, Ishaan has always displayed strong moral fiber be it in his relentless pursuit of acceptance for the LGBT community, his vociferous advocacy of gender equality or his efforts towards bettering the lives of less fortunate animals around him.

Ishaan is a fierce Footballer, and a fearsome practitioner of  the Mixed Martial Arts who never displays needless aggression to those around him. He has a cool temperament which allows him to enamor all those around him. He possesses exemplary oratory skills and utilizes them at various MUN’s , debate competitions, public speaking events and he hopes to one day make it the voice of social change.He is someone with great ideals, and the grit and leadership qualities to make them come to fruition.

              </p> -->
<!--              <div class="social">-->
<!--                <a href=""><i class="icofont-twitter"></i></a>-->
<!--                <a href=""><i class="icofont-facebook"></i></a>-->
<!--                <a href=""><i class="icofont-instagram"></i></a>-->
<!--                <a href=""><i class="icofont-linkedin"></i></a>-->
<!--              </div>-->
            <!-- </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="static/meetbhai.jfif" alt="">
              <h4>Meet Chaudhari</h4>
              <span>Founder, CTO</span> -->
<!--              <p> -->
<!--                Repellat fugiat adipisci nemo illum nesciunt voluptas repellendus. In architecto rerum rerum temporibus-->
<!--              </p>-->
<!--              <div class="social">-->
<!--                <a href=""><i class="icofont-twitter"></i></a>-->
<!--                <a href=""><i class="icofont-facebook"></i></a>-->
<!--                <a href=""><i class="icofont-instagram"></i></a>-->
<!--                <a href=""><i class="icofont-linkedin"></i></a>-->
<!--              </div>-->
            </div>
          </div>



        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">

          <h2>Contact</h2>
          <p>Use the below details to contact us with any queries</p>
        </div>

        <div class="row" style="justify-content: center;">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="icofont-google-map"></i>
                <h4>Location:</h4>
                <p>Jayshree Periwal International School,<br>
                Jaipur, Rajasthan,<br>India.</p>
              </div>

              <div class="email">
                <i class="icofont-envelope"></i>
                <h4>Email:</h4>
                <p>contact.insaaniyat@gmail.com</p>
              </div>

              <div class="phone">
                <i class="icofont-phone"></i>
                <h4>Whatsapp:</h4>
                <p>+91 8758720401</p>
                <p>+91 7303853002</p>
              </div>


            </div>

          </div>

          <!-- <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form  method="POST" class="php-email-form" name="Contact_Form" data-netlify="true">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" id="name" required title="Please enter at least 4 chars">
                  
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" ta-msg="Please enter a valid email">
                  
                </div>
              </div>
              <div class="form-group">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" required title="Please enter at least 8 chars of subject">
                
              </div>
              <div class="form-group">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" rows="10" required title="Please write something for us"></textarea>
                
              </div>
              <div class="p-t-15">
                <input class="btn btn--radius-2 btn--blue" type="submit" value="Send Message">

             </div>
  
            </form>
          </div> -->

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">

      <div class="container">

        <div class="social-links">

          <!-- <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a> -->

        </div>

      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        © Copyright <strong><span>Insaaniyat</span></strong>. All Rights Reserved
      </div>
<!--      <div class="credits">-->
<!--       Designed by <a href="http://www.lightning.org.in/" target="_blank">Lightning</a>-->
<!--      </div>-->
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top" style="display: none;"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="static/vendor/php-email-form/validate.js"></script>
  <script src="static/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="static/vendor/counterup/counterup.min.js"></script>
  <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/vendor/venobox/venobox.min.js"></script>
  <script src="static/vendor/owl.carousel/owl.carousel.min.js"></script>

  <!-- Template Main JS File -->
  <script src="static/js/main.js"></script><nav class="mobile-nav d-lg-none">
        <ul>
          <li class="active"><a href="#home">Home</a></li>
          <li><a href="#about">About</a></li>
<!--          <li><a href="#services">Services</a></li>-->

          <li><a href="#team">Team</a></li>
          <li><a href="#contact">Contact</a></li>
          <li class="drop-down"><a href="">Forms</a>
            <ul>
              <li><a href="donor_form.html">Donor Form</a></li>
              <li><a href="recipient_form.html">Recipient Form</a></li>
            </ul>
          </li>



        </ul>
      </nav><div class="mobile-nav-overly"></div>



</body></html>
