<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Insaaniyat</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <link href="static/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
  <link href="static/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
  <!-- Font special for pages-->

  <!-- Vendor CSS-->
  <link href="static/vendor/select2/select2.min.css" rel="stylesheet" media="all">
  <link href="static/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

  <!-- Main CSS-->
  <link href="static/css/main.css" rel="stylesheet" media="all">
  <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <style>
    .input-group{
      width: 240px !important;
    }
    .col-2{
      -ms-flex: 0 0 0 !important;
    max-width: 260px !important;
    }
    input[type="date" i] {
      padding: 0 14px !important;
  }
  </style>
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="static/vendor/owl.carousel/assetsowl.carousel.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/css/style.css" rel="stylesheet">
  <style>
    #hero .btn-get-started, .cta,.contact .php-email-form button[type="submit"] {
      background: #ff180c !important;
      box-shadow: 0 8px 28px rgba(223, 22, 22, 0.45) !important;
    }
    .featured-services .icon i, .about .content ul i, .counts .counters span,
     .services .icon-box .icon i,.contact .info i,.services .icon-box:hover h4 a {
      color: #df1616 !important;
    }
    .contact .info .email:hover i, .contact .info .address:hover i, .contact .info .phone:hover i{
      background: #ff180c !important;
      color: white !important;
    }
    .back-to-top i,.contact .php-email-form button[type="submit"]{
      background: #ff180c;
    }
    #footer .footer-top .social-links a{
      background: #ff180c !important;
      color: white !important;
    }
    .contact .info, .contact .php-email-form {
    border-top: 3px solid#ff180c !important;
    border-bottom: 3px solid#ff180c !important;
    }
  </style>
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="index.html">Insaaniyat</a></h1>
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="index.html#home">Home</a></li>
          <li><a href="index.html#about">About</a></li>
          <li><a href="index.html#services">Services</a></li>
         
          <li><a href="index.html#team">Team</a></li>
          <li><a href="index.html#contact">Contact</a></li>
          <li class="drop-down"><a href="">Forms</a>
            <ul>
              <li><a href="donor_form.html">Donor Form</a></li>
              <li><a href="recipient_form.html">Recipient Form</a></li>
            </ul>
          </li>
          


        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">

          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Donor Form</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="container">
        <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
          <div class="wrapper wrapper--w680">
              <div class="card card-4">
                  <div class="card-body">
                      <h2 class="title">Recipient Registration Form</h2>
                      <form method="POST" name="Recipient_Form" data-netlify="true">
                       
                          <div class="row row-space">
                              <div class="col-2">
                                  <div class="input-group">
                                      <label class="label">first name</label>
                                      <input required class="input--style-4" type="text" name="first_name">
                                  </div>
                              </div>
                              <div class="col-2">
                                  <div class="input-group">
                                      <label class="label">last name</label>
                                      <input required class="input--style-4" type="text" name="last_name">
                                  </div>
                              </div>
                          </div>
                          <div class="row row-space">
                           
                              <div class="col-2">
                                  <div class="input-group">
                                      <label class="label">Gender</label>
                                      <div class="p-t-10">
                                          <label class="radio-container m-r-45">Male
                                              <input required type="radio" checked="checked" name="gender" value="male">
                                              <span class="checkmark"></span>
                                          </label>
                                          <label class="radio-container">Female
                                              <input required type="radio" name="gender" value="female">
                                              <span class="checkmark"></span>
                                          </label>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-2">
                                <label class="label">Blood Group</label>
                                <div class="input-group">
                                  
                                  <div class="rs-select2 js-select-simple select--no-search">
                                      <select name="bloodgrp" required>
                                          <option disabled="disabled" selected="selected">Choose one</option>
                                          <option>O+</option>
                                          <option>O-</option>
                                          <option>A+</option>
                                        <option>A-</option>
                                          <option>B+</option>
                                          <option>B-</option>
                                        <option>AB+</option>
                                          <option>AB-</option>
                                         
                                      </select>
                                      <div class="select-dropdown"></div>
                                  </div>
                              </div>
                            </div>
                          </div>
  
                          <div class="row row-space">
                            <div class="col-2">
                              <div class="input-group">
                                  <label class="label">Name & address of the hospital where blood is needed</label>
                                  <input required class="input--style-4" type="text" name="hospital">
                              </div>
                          </div><div class="col-2">
                            <div class="input-group">
                                <label class="label">Amount needed (in pintes)</label>
                                <input required class="input--style-4" min="50" type="number" name="amt">
                            </div>
                        </div>
                              
                          </div>
                          <div class="row row-space">
                              <div class="col-2">
                                  <div class="input-group">
                                      <label class="label">Email</label>
                                      <input required class="input--style-4" type="email" name="email">
                                  </div>
                              </div>
                              <div class="col-2">
                                  <div class="input-group">
                                      <label class="label">Phone Number</label>
                                      <input required class="input--style-4" type="text" name="phone">
                                  </div>
                              </div>
                          </div>
                          <div class="row row-space">
                            <div class="col-2">
                              <div class="input-group">
                                  <label class="label">City</label>
                                  <input required class="input--style-4" type="text" name="city">
                              </div>
                            </div>
                            <div class="col-2">
                              <div class="input-group">
                                  <label class="label">Any pre-existing conditions the patient has: </label>
                                  <input  class="input--style-4" type="text" name="pre-cond">
                              </div>
                            </div>
                          </div>
                          <p>By submitting this form, you consent for your detils to be shared on our social-media pages</p>
                          <div class="row row-space" style="display:flex;justify-content:center">
                            <div class="p-t-15">
                              <input class="btn btn--radius-2 btn--blue" type="submit" value="Submit">
                              
                           </div>
                          </div>
                          
                          
                      </form>
                  </div>
              </div>
          </div>
         </div>
      </div>
    </section>
    <script src="static/vendor/select2/select2.min.js"></script>
    <script src="static/vendor/datepicker/moment.min.js"></script>
    <script src="static/vendor/datepicker/daterangepicker.js"></script>

    <!-- Main JS-->
    <script src="static/js/global.js"></script>
  </main><!-- End #main -->
  <footer id="footer">

    <div class="footer-top">

      <div class="container">

        <div class="social-links">

          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>

        </div>

      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>Sample-Biz.</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
       Designed by <a href="http://www.lightning.org.in/" target="_blank">Lightning</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="static/vendor/php-email-form/validate.js"></script>
  <script src="static/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="static/vendor/counterup/counterup.min.js"></script>
  <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/vendor/venobox/venobox.min.js"></script>
  <script src="static/vendor/owl.carousel/owl.carousel.min.js"></script>

  <!-- Template Main JS File -->
  <script src="static/js/main.js"></script>

</body>

</html>
  


  
