<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Insaaniyat</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <link href="static/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
  <link href="static/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
  <!-- Font special for pages-->

  <!-- Vendor CSS-->
  <link href="static/vendor/select2/select2.min.css" rel="stylesheet" media="all">
  <link href="static/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

  <!-- Main CSS-->
  <link href="static/css/main.css" rel="stylesheet" media="all">
  <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <style>
    .input-group{
      width: 240px !important;
    }
    .col-2{
      -ms-flex: 0 0 0 !important;
    max-width: 260px !important;
    }
    input[type="date" i] {
      padding: 0 14px !important;
  }
  </style>
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="static/vendor/owl.carousel/assetsowl.carousel.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/css/style.css" rel="stylesheet">
  <style>
    #hero .btn-get-started, .cta,.contact .php-email-form button[type="submit"] {
      background: #ff180c !important;
      box-shadow: 0 8px 28px rgba(223, 22, 22, 0.45) !important;
    }
    .featured-services .icon i, .about .content ul i, .counts .counters span,
     .services .icon-box .icon i,.contact .info i,.services .icon-box:hover h4 a {
      color: #df1616 !important;
    }
    .contact .info .email:hover i, .contact .info .address:hover i, .contact .info .phone:hover i{
      background: #ff180c !important;
      color: white !important;
    }
    .back-to-top i,.contact .php-email-form button[type="submit"]{
      background: #ff180c;
    }
    #footer .footer-top .social-links a{
      background: #ff180c !important;
      color: white !important;
    }
    .contact .info, .contact .php-email-form {
    border-top: 3px solid#ff180c !important;
    border-bottom: 3px solid#ff180c !important;
    }
  </style>
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="index.html">Insaaniyat</a></h1>
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="index.html#home">Home</a></li>

          <li><a href="team.html">About</a></li>
          <li><a href="index.html#contact">Contact Us</a></li>
          <li class="drop-down"><a href="">Register Now</a>
            <ul>
                <li><a href="donor_form.html">Register as Donor</a></li>
                <li><a href="recipient_form.html">Register as Recipient</a></li>
            </ul>
          </li>



        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">

          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Team</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <section id="team" class="team section-bg" style="padding: 0px 0;">
        <div class="container">

          <div class="section-title">

            <h2>About Us</h2>

            <section id="about2" class="about">
              <div class="container">
                <!-- initil -->
                <div class="row">
                  <div class="col-lg-6">
                    <img src="static/img/ClipartKey.png" class="img-fluid" alt="">
                  </div>
                  <div class="col-lg-6 pt-4 pt-lg-0 content">
                    <h3>Who We Are</h3>
                    <p class="font-italic">
                      Insaaniyat is the Hindi word for humanity. As the name suggests this is a humanitarian effort by 2 students of the Jayshree Periwal International School aimed to satisfy the dire and fatal scarcity of plasma for COVID 19 patients by connecting them to those who have already recovered from the disease. Through social media, we hope to spread awareness regarding our website and also instigate eligible donors to donate their blood to those in need. We remind our followers that there is a finite amount of blood in this world, for them to receive it in the future someone would have to donate it first.
                    </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 pt-4 pt-lg-0 content">
                    <h3>How We Began</h3>
                    <p class="font-italic">
                      When a friend of Ishaan’s contracted contacted Ishaan to donate blood for his grandmother who was ailing from COVID, but the doctors declared him unfit to do so on account of him being a minor, Ishaan was filled with a sense of impotent rage. Determined to not remain a bystander in the fight against COVID he enlisted the help of his school-mate, Meet, to establish Insaaniyat.
                    </p>
                  </div>
                  <div class="col-lg-6">
                    <img src="static/img/GiveBlood.png" class="img-fluid" alt="">
                  </div>

                </div>


                <div class="row">
                  <div class="col-lg-7">
                    <h3>How We Began</h3>
                    <p class="font-italic">
                      When a friend of Ishaan’s contracted contacted Ishaan to donate blood for his grandmother who was ailing from COVID, but the doctors declared him unfit to do so on account of him being a minor, Ishaan was filled with a sense of impotent rage. Determined to not remain a bystander in the fight against COVID he enlisted the help of his school-mate, Meet, to establish Insaaniyat.
                    </p>
                  </div>
                  <div class="col-lg-7 order-lg-2">
                      <img src="static/img/GiveBlood.png" class="img-fluid" alt="">
                  </div>
                </div>

            </div>
          </div>
        </div>
            </section><!-- End About Section -->




            <p>Meet the team</p>
          </div>

          <div class="row" style="justify-content: center;">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" style="margin-right: 10%;">
              <div class="member">
                <img src="static/ishaan.jpg" alt="" style="width: 75%;">
                <h4>Ishaan Chaturvedi</h4>
                <span>Founder, CEO</span>
                <p>
                  An avid MUN-ER with a keen interest in the world of STEM and especially robotics, Ishaan doesn't believe in narrowing down the scope of his interests. A 12th grader at the Jayshree Periwal International school in Jaipur, Ishaan has always displayed strong moral fiber be it in his relentless pursuit of acceptance for the LGBT community, his vociferous advocacy of gender equality or his efforts towards bettering the lives of less fortunate animals around him.

  Ishaan is a fierce Footballer, and a fearsome practitioner of  the Mixed Martial Arts who never displays needless aggression to those around him. He has a cool temperament which allows him to enamor all those around him. He possesses exemplary oratory skills and utilizes them at various MUN’s , debate competitions, public speaking events and he hopes to one day make it the voice of social change.He is someone with great ideals, and the grit and leadership qualities to make them come to fruition.

                </p>
  <!--              <div class="social">-->
  <!--                <a href=""><i class="icofont-twitter"></i></a>-->
  <!--                <a href=""><i class="icofont-facebook"></i></a>-->
  <!--                <a href=""><i class="icofont-instagram"></i></a>-->
  <!--                <a href=""><i class="icofont-linkedin"></i></a>-->
  <!--              </div>-->
              </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="member">
                <img src="static/meetbhai.jfif" alt="">
                <h4>Meet Chaudhari</h4>
                <span>Founder, CTO</span>

                <p>
                    A physics geek, a secretive violinist, and an ardent believer in the power of STEM, Meet  possesses a strong will to fulfill
                    his great expectations by applying design thinking in technology.
                </p>
  <!--              <div class="social">-->
  <!--                <a href=""><i class="icofont-twitter"></i></a>-->
  <!--                <a href=""><i class="icofont-facebook"></i></a>-->
  <!--                <a href=""><i class="icofont-instagram"></i></a>-->
  <!--                <a href=""><i class="icofont-linkedin"></i></a>-->
  <!--              </div>-->
              </div>
            </div>



          </div>

        </div>
      </section><!-- End Team Section -->


    <script src="static/vendor/select2/select2.min.js"></script>
    <script src="static/vendor/datepicker/moment.min.js"></script>
    <script src="static/vendor/datepicker/daterangepicker.js"></script>

    <!-- Main JS-->
    <script src="static/js/global.js"></script>
  </main><!-- End #main -->
  <footer id="footer">

    <div class="footer-top">

      <div class="container">

        <div class="social-links">

          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>

        </div>

      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        © Copyright <strong><span>Insaaniyat</span></strong>. All Rights Reserved
      </div>
<!--      <div class="credits">-->
<!--       Designed by <a href="http://www.lightning.org.in/" target="_blank">Lightning</a>-->
<!--      </div>-->
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="static/vendor/php-email-form/validate.js"></script>
  <script src="static/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="static/vendor/counterup/counterup.min.js"></script>
  <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/vendor/venobox/venobox.min.js"></script>
  <script src="static/vendor/owl.carousel/owl.carousel.min.js"></script>

  <!-- Template Main JS File -->
  <script src="static/js/main.js"></script>

</body>

</html>
